
## <summary>policy for MANTIScoin</summary>


########################################
## <summary>
##	Transition to MANTIScoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`MANTIScoin_domtrans',`
	gen_require(`
		type MANTIScoin_t, MANTIScoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, MANTIScoin_exec_t, MANTIScoin_t)
')


########################################
## <summary>
##	Execute MANTIScoin server in the MANTIScoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`MANTIScoin_initrc_domtrans',`
	gen_require(`
		type MANTIScoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, MANTIScoin_initrc_exec_t)
')


########################################
## <summary>
##	Search MANTIScoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`MANTIScoin_search_lib',`
	gen_require(`
		type MANTIScoin_var_lib_t;
	')

	allow $1 MANTIScoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read MANTIScoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`MANTIScoin_read_lib_files',`
	gen_require(`
		type MANTIScoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, MANTIScoin_var_lib_t, MANTIScoin_var_lib_t)
')

########################################
## <summary>
##	Manage MANTIScoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`MANTIScoin_manage_lib_files',`
	gen_require(`
		type MANTIScoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, MANTIScoin_var_lib_t, MANTIScoin_var_lib_t)
')

########################################
## <summary>
##	Manage MANTIScoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`MANTIScoin_manage_lib_dirs',`
	gen_require(`
		type MANTIScoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, MANTIScoin_var_lib_t, MANTIScoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a MANTIScoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`MANTIScoin_admin',`
	gen_require(`
		type MANTIScoin_t;
		type MANTIScoin_initrc_exec_t;
		type MANTIScoin_var_lib_t;
	')

	allow $1 MANTIScoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, MANTIScoin_t)

	MANTIScoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 MANTIScoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, MANTIScoin_var_lib_t)

')

