# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=MANTISCoin Daemon SNAP
Comment=testnet
GenericName=MANTISCoin Digital Currency Daemon Client testnet network
Exec=MANTIScoin-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/MANTIScoin_testnet.png
MimeType=x-scheme-handler/mntis;
Categories=X-Office;X-Finance;
Keywords=internet;MANTIScoin;zmntis;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
